@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-brand-light: #e592fb;
  --color-brand-dark: #a500f9;
  --color-gray: #f5f5f5;
  --color-charcoal: #1c1c1e;
  --color-text: #2d033b;
  --color-border: #d1d1d1;
}

body {
  font-family: 'Poppins', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text-shadow-lg {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
